/UnityProject/[Ll]ibrary/
/UnityProject/[Tt]emp/
/UnityProject/[Oo]bj/
/UnityProject/[Bb]uild/
/UnityProject/[Bb]uilds/
/UnityProject/[Ll]ogs/
/UnityProject/[Uu]ser[Ss]ettings/
/UnityProject/.vs/
/UnityProject/.idea/
/UnityProject/.vscode/
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/*.slnx
/UnityProject/*.user
/UnityProject/*.pidb
/UnityProject/*.pdb
/UnityProject/*.mdb
/UnityProject/sysinfo.txt
/UnityProject/[Mm]emoryCaptures/
/UnityProject/[Rr]ecordings/
/UnityProject/[Cc]rashReports/
/UnityProject/Assets/StreamingAssets/aa/
/UnityProject/.utmp/
*.log
*.tmp
.env
.env.*
*.ulf
*.blend1
*.blend2
.DS_Store
Thumbs.db
/UnityProject/Assets/Resources/PerformanceTestRunInfo.json*
/UnityProject/Assets/Resources/PerformanceTestRunSettings.json*
